@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #344a72;
}

.container {
  max-width: 400px;
  margin: 25px auto;
  padding: 10px;
  background: #fff;
  color: #000;
}

.container h1 {
  text-align: center;
  padding: 10px;
}

.container p {
  text-align: center;
}

.form-wrap {
  padding: 10px 25px;
  color: #000;
  margin: auto;
}

.form-wrap .form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
  margin-bottom: 5px;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: #ddd 1px solid;
}

.form-wrap .signup-btn {
  width: 100%;
  border: none;
  padding: 10px;
  text-align: center;
  background: #49c1a2;
  color: #fff;
  cursor: pointer;
}

.form-wrap .signup-btn:hover {
  background: #37a08e;
}

.form-wrap p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}

.form-wrap p a {
  text-decoration: none;
}

.footer p {
  text-align: center;
  color: #fff;
}

.footer p a {
  text-align: center;
  text-decoration: none;
  color: #49c1a2;
}
